@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  font-family: 'Josefin Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-bg-light{
  background: url('./images/bg-desktop-light.jpg') no-repeat center top / 100%;
  background-color: hsl(0, 0%, 98%);
}

.cs-bg-dark{
  background: url('./images/bg-desktop-dark.jpg') no-repeat center top / 100%;
  background-color: hsl(235, 21%, 11%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  width: 100%;
  min-height: 100vh;
  padding: 5% 25%;
  transition: .5s;
}

header{
  margin-bottom: 5%;
}

header h1{
  letter-spacing: 15px;
}

.no-border{
  border-style: none;
}

.no-border:focus {
  border-color: #CCC;
  outline: 0;
  box-shadow: none;
}

.borderBottom{
  border-bottom: solid 1px hsl(236, 33%, 92%);
}

.paddingNav{
  padding: 3% 1%;
}

header .form-check-input{
  background: url(/src/images/icon-moon.svg) no-repeat top center / 100%;
  border: none;
  height: 40px;
  width: 40px;
  box-shadow: none !important;
  transition: .3s;
}

header .form-check-input:checked{
  background: url(/src/images/icon-sun.svg) no-repeat top center / 100%;
  border: none;
  transition: .3s;
}

#s2 .form-check{
  position: relative;
}

#s2 .form-check-input {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid hsl(236, 33%, 92%);
  box-shadow: none !important;
  cursor: pointer;
  transition: .5s;
}

#s2 .form-check-input:hover{
  border-color: rgba(87, 221, 255, 1);
}

#s2 .form-check-input:checked{
  background: linear-gradient(130deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%) no-repeat center center;
}

#s2 .form-check-label{
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1;
  pointer-events: none;
}

#s2 div div:hover{  
  cursor: pointer;
}

#s2 div div button img{
  opacity: 0;
  transition: .5s;
}

#s2 div div:hover button img{
  opacity: 100%;
}

#btmNav a{
  color: hsl(236, 9%, 61%);
  border: none;
  transition: .3s;
}

#btmNav .btn:hover{
  color: hsl(235, 19%, 35%);
}